@import 'tailwindcss';
/* @import 'tw-animate-css'; */

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-display: var(--font-clash-display);
	--font-satoshi: var(--font-satoshi);
	--font-inter: var(--font-inter);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);

	--color-deep-orange: var(--color-deep-orange);
	--color-light-orange: var(--color-light-orange);
	--color-creamy-white: var(--color-creamy-white);
	--color-matt-black: var(--color-matt-black);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--column-breakpoint: 15em;
}

:root {
	--radius: 0.625rem;
	--background: oklch(100% 0.00011 271.152);
	--foreground: oklch(0.13 0.028 261.692);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.13 0.028 261.692);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.13 0.028 261.692);
	--primary: oklch(0.21 0.034 264.665);
	--primary-foreground: oklch(0.985 0.002 247.839);
	--secondary: oklch(0.967 0.003 264.542);
	--secondary-foreground: oklch(0.21 0.034 264.665);
	--muted: oklch(0.967 0.003 264.542);
	--muted-foreground: oklch(0.551 0.027 264.364);
	--accent: oklch(0.967 0.003 264.542);
	--accent-foreground: oklch(0.21 0.034 264.665);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.928 0.006 264.531);
	--input: oklch(0.928 0.006 264.531);
	--ring: oklch(0.707 0.022 261.325);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0.002 247.839);

	--color-deep-orange: rgb(255, 96, 23);
	--color-light-orange: rgb(255, 119, 56);
	--color-creamy-white: rgb(250, 245, 234);
	--color-black: rgb(0, 0, 0);
	--color-matt-black: rgb(20, 20, 20);

	--sidebar-foreground: oklch(0.13 0.028 261.692);
	--sidebar-primary: oklch(0.21 0.034 264.665);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.967 0.003 264.542);
	--sidebar-accent-foreground: oklch(0.21 0.034 264.665);
	--sidebar-border: oklch(0.928 0.006 264.531);
	--sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
	--background: oklch(0% 0 0);
	--foreground: oklch(0.985 0.002 247.839);
	--card: oklch(0.21 0.034 264.665);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: oklch(0.21 0.034 264.665);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: oklch(0.928 0.006 264.531);
	--primary-foreground: oklch(0.21 0.034 264.665);
	--secondary: oklch(0.278 0.033 256.848);
	--secondary-foreground: oklch(0.985 0.002 247.839);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.034 264.665);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.278 0.033 256.848);
	--sidebar-accent-foreground: oklch(0.985 0.002 247.839);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
	* {
		@apply border-border outline-ring/50 font-inter;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/*   0 => 767 */
/* md 768 => 1279 */
/* xl 1280 => */
@layer {
	.h1 {
		@apply text-[66px] font-display md:text-[100px]	 xl:text-[157px]
		tracking-[-0.05em] md:tracking-[-0.06em]
		leading-[0.8];
	}

	.h1-b {
		@apply font-display text-[30px] md:text-[56px] xl:text-[66px]
		tracking-[-0.04em]  
		leading-[0.9];
	}
	.h2-l {
		@apply font-display text-[50px] md:text-[90px] xl:text-[120px]
		tracking-[-0.04em]  
		leading-none md:leading-[0.8];
	}
	.h2-s {
		@apply font-display text-[19px] md:text-[26px]  
		leading-[1.2];
	}
	.h3 {
		@apply font-display text-[24px] md:text-[32px] xl:text-[28px]
		tracking-[-0.01em]  
		leading-[1.3];
	}
	.h3-s {
		@apply font-display text-[20px]  
		tracking-[-0.01em]  
		leading-[1.3];
	}
	.h4 {
		@apply font-display text-[20px]  
		tracking-[-0.02em]  
		leading-[1.2];
	}
	.body1 {
		@apply text-[12px]  
		tracking-[-0.02em]  
		leading-normal;
	}
	.body2 {
		@apply text-[24px] md:text-[30px] xl:text-[40px]
		leading-normal
    font-display;
	}
	.body3 {
		@apply text-[20px] md:text-[18px] xl:text-[22px]
		tracking-[-0.01em]  
		leading-normal
    font-display;
	}
	.p-l {
		@apply text-[28px] md:text-[32px] xl:text-[38px]
		tracking-[-0.03em]  
    font-satoshi
		leading-[1.2];
	}
	.p-s {
		@apply text-[17px]
		font-satoshi
		leading-normal;
	}
	.nav-menu {
		@apply text-[40px] md:text-[80px] xl:text-[96px]
		tracking-[-0.04em]
		leading-[0.8];
	}
	.nav-social {
		@apply text-[15px]  
		tracking-[-0.03em]
		font-inter
		font-light
		leading-12
		uppercase;
	}
	.text-btn {
		@apply text-[15px] 
		leading-[1]
		uppercase
		font-satoshi;
	}
	.f-nav {
		@apply text-[15px]  
		tracking-[-0.02em]  
    font-medium
    font-display
		leading-normal;
	}
	.f-XXL {
		@apply text-[164px] md:text-[202px] xl:text-[240px]
		tracking-[-0.04em]
    text-creamy-white
    font-medium
		leading-none;
	}
	.link {
		@apply hover:text-orange-300 hover:underline duration-300;
	}
	.wrapper {
		max-width: 1680px;
		width: 100%;
	}
}
@keyframes upDown {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}

.animate-updown {
	animation: upDown 1s infinite;
}

@keyframes floatY {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(35px);
	}
}

.animate-floatY {
	animation: floatY 6s ease-in-out infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-25%);
	}
}

.animate-marquee {
	animation: marquee 20s linear infinite;
	will-change: transform;
}

@keyframes marquee-infinite {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}

.animate-marquee-infinite {
	animation: marquee-infinite 30s linear infinite;
	will-change: transform;
}
